.app-sidebar__overlay(data-toggle="sidebar")
aside.app-sidebar

	ul.app-menu
		li
			a.app-menu__item.d-none(href='/' class={'active': activePage == 'dashboard'})
				i.app-menu__icon.fa.fa-tachometer-alt
				span.app-menu__label Dashboard

		li.treeview(class='is-expanded')
			a.app-menu__item(href='#', data-toggle='treeview')
				i.app-menu__icon.fa.fa-laptop
				span.app-menu__label Devices
				i.treeview-indicator.fa.fa-angle-right
			ul.treeview-menu
				li
					a.treeview-item(href='/players' class={'active': activePage == 'enrolled-devices'})
						i.icon.fa.fa-circle-o
						|  Enrolled Devices
				li
					a.treeview-item.d-none(href='#' class={'active': activePage == 'pending-devices'})
						i.icon.fa.fa-circle-o
						|  Pending Devices

		li.treeview.d-none(class={'is-expanded': activeGroup == 'scheduler'})
			a.app-menu__item(href='#')
				i.app-menu__icon.fa.fa-calendar-alt
				span.app-menu__label Scheduler

		li.treeview.d-none(class={'is-expanded': activeGroup == 'forms'})
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.fas.fa-building
				span.app-menu__label Locations
				i.treeview-indicator.fa.fa-angle-right
			ul.treeview-menu
				li
					a.treeview-item(href='#' class={'active': activePage == '#'})
						i.icon.fa.fa-circle-o
						|  Organisations
				li
					a.treeview-item(href='#' class={'active': activePage == '#'})
						i.icon.fa.fa-circle-o
						|  Buildings

				li
					a.treeview-item(href='#' class={'active': activePage == '#'})
						i.icon.fa.fa-circle-o
						|  Floors

		li.treeview.d-none(class={'is-expanded': activeGroup == 'forms'})
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.fa.fa-cookie
				span.app-menu__label Cookies
				i.treeview-indicator.fa.fa-angle-right
			ul.treeview-menu
				li
					a.treeview-item(href='#' class={'active': activePage == '#'})
						i.icon.fa.fa-circle-o
						|  Cookies
				li
					a.treeview-item(href='#' class={'active': activePage == '#'})
						i.icon.fa.fa-circle-o
						|  Cookie Groups
				
		li.treeview.d-none(class={'is-expanded': activeGroup == 'forms'})
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.fab.fa-js
				span.app-menu__label JavaScript
				i.treeview-indicator.fa.fa-angle-right
			ul.treeview-menu
				li
					a.treeview-item(href='#' class={'active': activePage == '#'})
						i.icon.fa.fa-circle-o
						|  JavaScript
				li
					a.treeview-item(href='#' class={'active': activePage == '#'})
						i.icon.fa.fa-circle-o
						|  JavaScript Groups

		li.treeview.d-none(class={'is-expanded': activeGroup == 'tables'})
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.fa.fa-users
				span.app-menu__label Admin
				i.treeview-indicator.fa.fa-angle-right
			ul.treeview-menu
				li
					a.treeview-item(href='#' class={'active': activePage == 'basic-table'})
						i.icon.fa.fa-circle-o
						|  Users
				li
					a.treeview-item(href='#' class={'active': activePage == 'data-table'})
						i.icon.fa.fa-circle-o
						|  Groups
				li
					a.treeview-item(href='#' class={'active': activePage == 'data-table'})
						i.icon.fa.fa-circle-o
						|  Settings