extends layouts/_layout.pug

block variables
	- var activePage = 'dashboard'
	- var activeGroup = 'none'

block title
	title Create New Site

block content


	.app-title
		div
			h1
				i.fa.fa-th-list
				|  Create New Site
			p Please enter new screen details

	.row.user

		.col-md-12
			.tile
				h4.line-head Edit Site Settings
					form(method='POST' action='/site/create')
						.row
							.col-md-8.mb-4
								label Associated Screen ID
								input.form-control(type="text", name="id", value=screenID, readOnly='')

							.clearfix

							.col-md-8.mb-4
								label Name
								input.form-control(type="text", name="name")

							.clearfix

							.col-md-8.mb-4
								label URL
								input.form-control(type="text", name="url")

							.clearfix

							.col-md-8.mb-4
								label Site Position ID
								select.form-control(name="position")
									option 1
									option 2
									option 3
									option 4

						.row.mb-10
							.col-md-12
								button.btn.btn-primary(type="submit")
									i.fa.fa-fw.fa-lg.fa-check-circle
									|  Save